<h1><%= @user.name %></h1>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Librarian?</strong> <%= @user.librarian ? 'yes' : 'no' %></p>

<br>

<h2>Your books<h2>
<% @user.books.each do |book| %>
  <% if book.checked_out && (book.present_user_id == @user.id) %>
    <%= link_to "#{book.title}", book_path(book) %> - <%= link_to "#{book.author.name}", author_path(book.author) %><br>
  <% end %>
<% end%>
