<h1>Welcome to the Flatiron Library</h1>

<br><br>

<% if @user && @user.librarian %>
  <p><%= link_to "Add Book", new_book_path %></p>
  <p><%= link_to "Add Author", new_author_path %></p>
  <p><%= link_to "Add Genre", new_genre_path %></p>
  <p><%= link_to "View Overdue Books", overdue_path %></p>
<% end %>

<br><br>

<% if @user %>
  <p><strong><%= link_to "View Books", books_path %></strong></p>
  <p><strong><%= link_to "View Authors", authors_path %></strong></p>
  <p><strong><%= link_to "View Genres", genres_path %></strong></p>
<% end %>